name: Autograding Tests
on:
  - push
  - repository_dispatch

permissions:
  checks: write
  actions: read
  contents: read

jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          
      - name: Install dependencies
        id: install-dependencies
        run: npm install
        
      - name: Run tests
        id: component-tests
        run: npm test
        
      - name: Run build
        id: build-test
        run: npm run build
        
      - name: Autograding Reporter
        if: always()
        uses: classroom-resources/autograding-grading-reporter@v1
        with:
          runners: "install-dependencies,component-tests,build-test"
